*{
    margin: 0 auto;
}
h1, .button{
    text-align: center;
}
.container{
    background-color: slategray;
    border: 4px solid black;
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    height: 450px;
}
p{
    font-size: x-large;
}
label, p, span {
    font-weight: bold;
    margin: 10px;
}
#name, #location, #language, #comment{
    font-weight: bold;
    margin: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.button{
    background-color: aqua;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 20px;
    width: 100px;
    margin: 0 auto;
}
